body{
    margin:0;
    padding: 0%;
    background-color: blueviolet;
    color: azure;
    text-align: center;
}
.menor{
 color: red;
}
.mayor{
    color: aqua;
}
button{
    margin: 0 0.5rem;
}